<!-- About Us -->
<div id="about" class="about">
    <h2>About Us</h2>

    <div class="about-body">
        <div class="img">
            <img src="assets/images/keke_passenger.jpg" alt="">
        </div>

        <div class="text">
            <h3>SweetRide Tricycle Drivers</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam ea modi autem commodi possimus quam, facere atque? Magni
                excepturi necessitatibus similique sequi! A libero assumenda molestias
                beatae laudantium quae commodi, quo enim, dolor porro amet perferendis,
                et voluptatum. Consequatur ducimus cumque exercitationem voluptatem provident
                libero iure quaerat. Expedita, cum consequuntur.
            </p>

            <h3>SweetRide Tricycle Drivers</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam ea modi autem commodi possimus quam, facere atque? Magni
                excepturi necessitatibus similique sequi! A libero assumenda molestias
                beatae laudantium quae commodi, quo enim, dolor porro amet perferendis,
                et voluptatum. Consequatur ducimus cumque exercitationem voluptatem provident
                libero iure quaerat. Expedita, cum consequuntur.
            </p>

            <p (click)="goToRegister()" class="btn">Register</p>
        </div>
    </div>

</div>
