<div class="container">
    <h2>Registration Form</h2>

    <form [formGroup]="onboardingForm" (ngSubmit)="submit()">
        <div class="form-controls">
            <label for="">Select your Organization <span style="color: red; margin-left: 4px;">*</span></label>
            <div class="organizations">
                <div class="ind-org" *ngFor="let org of organizations">
                    <!-- <span *ngIf="toan"><i class="fa fa-check"></i></span> -->
                    <p class="org" [ngClass]="{'org-selected': org.selected == true }" (click)="orgSelected(org)">{{ org.name }}</p>
                </div>
                <!-- <div class="ind-org">
                    <p class="org" [ngClass]="{'org-selected': tokan == true }" (click)="orgSelected('tokan')">TOKAN</p>
                </div>
                <div class="ind-org">
                    <p class="org" [ngClass]="{'org-selected': acotmoran == true }" (click)="orgSelected('acotmoran')">
                        ACOTMORAN</p>
                </div> -->
            </div>
        </div>

        <div class="form-controls">
            <label for="">Fullname <span style="color: red; margin-left: 4px;">*</span></label>
            <!-- <span class="span">Suna</span> -->
            <input type="text" formControlName="name" name="" id="" placeholder="Abdulahi Ibrahim">
            <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
        </div>

        <div class="double-input">
            <div class="form-controls half">
                <label for="">State <span style="color: red; margin-left: 4px;">*</span></label>
                <!-- <span class="span">Suna</span> -->
                <select formControlName="state" (change)="changed($event)" name="" id="">
                    <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
                </select>
                <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
            </div>
            
            <div class="form-controls half">
                <label for="">LGA <span style="color: red; margin-left: 4px;">*</span></label>
                <!-- <span class="span">Suna</span> -->
                <select formControlName="lga" name="" id="">
                    <option *ngFor="let lga of cities" [value]="lga.id">{{lga.name}}</option>
                </select>
                <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
            </div>
        </div>

        <div class="double-input">
            <div class="form-controls half">
                <label for="">Ward <span style="color: red; margin-left: 4px;">*</span></label>
                <!-- <span class="span">Suna</span> -->
                <input type="text" formControlName="ward" name="" id="" placeholder="Kano">
                <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
            </div>
            <div class="form-controls half">
                <label for="">Town <span style="color: red; margin-left: 4px;">*</span></label>
                <input type="text" formControlName="town" name="" id="" placeholder="">
                <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
            </div>
        </div>

        <div class="form-controls">
            <label for="">Address <span style="color: red; margin-left: 4px;">*</span></label>
            <!-- <span class="span">Suna</span> -->
            <input type="text" formControlName="address" name="" id="" placeholder="">
            <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
        </div>

        <div class="double-input">
            <div class="form-controls half">
                <label for="">Phone Number <span style="color: red; margin-left: 4px;">*</span></label>
                <!-- <span class="span">Suna</span> -->
                <input type="text" formControlName="phone" name="" id="" placeholder="">
                <div *ngIf="onboardingForm.controls['phone'].touched && onboardingForm.controls['phone'].invalid" class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div>
                <div *ngIf="onboardingForm.controls['phone'].hasError('maxlength') || onboardingForm.controls['phone'].hasError('minlength')" class="validate"
                    style="color: red; margin-top: -18px; margin-bottom: 20px;">Phone number must be 11 digits</div>
            </div>
            <div class="form-controls half">
                <label for="">Date of birth <span style="color: red; margin-left: 4px;">*</span></label>
                <input type="text" formControlName="dob" name="" id="" placeholder="">
                <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
            </div>
        </div>

        <div class="double-input">
            <div class="form-controls half">
                <label for="">Unit <span style="color: red; margin-left: 4px;">*</span></label>
                <!-- <span class="span">Suna</span> -->
                <input type="text" formControlName="unit" name="" id="" placeholder="">
                <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
            </div>
            <div class="form-controls half">
                <label for="">Green Number <span style="color: red; margin-left: 4px;">*</span></label>
                <input type="text" formControlName="green_number" name="" id="" placeholder="0908765456">
                <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
            </div>
        </div>

        <div class="form-controls">
            <label for="">NIN Number <span style="color: red; margin-left: 4px;">*</span></label>
            <!-- <span class="span">Suna</span> -->
            <input type="text" formControlName="nin" name="" id="" placeholder="">
            <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
        </div>

        <div class="form-controls">
            <label for="">Registration Number <span style="color: red; margin-left: 4px;">*</span></label>
            <!-- <span class="span">Suna</span> -->
            <input type="text" formControlName="reg_number" name="" id="" placeholder="">
            <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
        </div>

        <div class="form-controls">
            <label for="">ID Card Number <span style="color: red; margin-left: 4px;">*</span></label>
            <!-- <span class="span">Suna</span> -->
            <input type="text" formControlName="id_number" name="" id="" placeholder="">
            <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
        </div>

        <div class="form-controls" *ngIf="!memberId" >
            <label for="">Driver's Passport <span style="color: red; margin-left: 4px;">*</span></label>
            <!-- <span class="span">Suna</span> -->
            <input type="file" formControlName="avatar" (change)="processAvatarUpload($event, 'avatar')" placeholder="">
            <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
        </div>

        <h2>Guarrantors Form</h2>

        <div class="form-controls">
            <label for="">Guarrantor's Name <span style="color: red; margin-left: 4px;">*</span></label>
            <!-- <span class="span">Suna</span> -->
            <input type="text" formControlName="guarantor_name" name="" id="" placeholder="Abdulahi Ibrahim">
            <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
        </div>

        <div class="form-controls">
            <label for="">Address <span style="color: red; margin-left: 4px;">*</span></label>
            <!-- <span class="span">Suna</span> -->
            <input type="text" formControlName="guarantor_address" name="" id="" placeholder="Abdulahi Ibrahim">
            <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
        </div>

        <div class="form-controls">
            <label for="">Phone Number <span style="color: red; margin-left: 4px;">*</span></label>
            <!-- <span class="span">Suna</span> -->
            <input type="text" formControlName="guarantor_phone" name="" id="" placeholder="Abdulahi Ibrahim">
            <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
        </div>

        <div class="form-controls" *ngIf="!memberId" >
            <label for="">Guarrantors's Passport <span style="color: red; margin-left: 4px;">*</span></label>
            <!-- <span class="span">Suna</span> -->
            <input type="file" formControlName="guarantor_avatar" (change)="processAvatarUpload($event, 'guarantorAvatar')" placeholder="">
            <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
        </div>

        <button *ngIf="!isLoading" type="submit" class="btn">Submit</button>
        <app-dotted *ngIf="isLoading"></app-dotted>
    </form>
</div>