<div class="container">
    <h1>
        SweetRides Tricycle Drivers
    </h1>
    <p class="paragraph">Register with SweetRide toady and enjoy all ride features!</p>
    <p (click)="goToRegister()" class="btn">Register</p>

    <!-- About Us -->
    <div class="about">
        <h2>About Us</h2>

        <div class="about-body">
            <div class="img">
                <img src="assets/images/keke_passenger.jpg" alt="">
            </div>

            <div class="text">
                <h3>SweetRide Tricycle Drivers</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Quisquam ea modi autem commodi possimus quam, facere atque? Magni 
                    excepturi necessitatibus similique sequi! A libero assumenda molestias 
                    beatae laudantium quae commodi, quo enim, dolor porro amet perferendis, 
                    et voluptatum. Consequatur ducimus cumque exercitationem voluptatem provident 
                    libero iure quaerat. Expedita, cum consequuntur.
                </p>

                <h3>SweetRide Tricycle Drivers</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam ea modi autem commodi possimus quam, facere atque? Magni
                    excepturi necessitatibus similique sequi! A libero assumenda molestias
                    beatae laudantium quae commodi, quo enim, dolor porro amet perferendis,
                    et voluptatum. Consequatur ducimus cumque exercitationem voluptatem provident
                    libero iure quaerat. Expedita, cum consequuntur.
                </p>
            </div>
        </div>
        
    </div>
</div>

<div class="overlay" *ngIf="modalService.openModal">
    <div class="modal-container">
        <div class="close">
            <div></div>
            <img (click)="modalService.openModal = false" src="assets/images/close.png" alt="">
        </div>

        <div class="header">
            <div>
                <h2>Keke</h2>
            </div>
            <form [formGroup]="search" (ngSubmit)="searchKeke()">
                <div class="form-controls">
                    <label for="">Search Keke Plate Number or Gray code <span style="color: red; margin-left: 4px;">*</span></label>
                    <input type="text" formControlName="plate_number" name="" id="" placeholder="AJ65G">
                    <!-- <div class="validate" style="color: red; margin-top: -18px; margin-bottom: 20px;">Required</div> -->
                </div>
            </form>
            
            <!-- <button class="btn">Add Manager</button> -->
        </div>

        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Plate Number</th>
                        <!-- <th>Actions</th> -->
                    </tr>
                </thead>
        
                <tbody>
                    <tr style="cursor: pointer;" (click)="registerUser()">
                        <td>{{keke.id}}</td>
                        <td>{{keke.name}}</td>
                        <td>{{keke.email}}</td>
                        <td>{{keke.phone}}</td>
                        <td>{{keke.plate_number}}</td>
                        <!-- <td></td> -->
                    </tr>
        
                    <tr *ngIf="isLoading">
                        <td></td>
                        <td></td>
                        <td style="text-align: center;">Please wait!</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>