.container {
    margin-top: 100px;
    color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.container h1 {
    z-index: 10;
    font-size: 76px;
    letter-spacing: .3px;
    line-height: 85px;
    margin: auto 6px;
    max-width: 500px;
}

.container p.paragraph {
    z-index: 10;
    font-size: 20px;
    color: rgb(190, 188, 188);
}

.container p.btn {
    width: fit-content;
    background-color: #03b44a;
    font-size: 20px;
    color: white;
    padding: 12px 50px;
    border-radius: 10px;
    z-index: 10;
}

.container p.btn:hover {
    cursor: pointer;
    background: #14a14d;
}

.table {
    overflow-x: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 100;
}

.modal-container {
    background: #ffffff;
    margin-top: 100px;
    width: 1200px;
    height: 550px;
    border-radius: 20px;
    padding: 18px 40px;
}

.close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.close img {
    cursor: pointer;
}

.form-controls {
    width: 20%;
}

form {
    padding: 0;
    margin: 0;
}

@media (min-width: 360px) and (max-width: 500px) {
    .container {
        margin-top: 100px;
        width: 100%;
    }

    .container h1 {
        z-index: 10;
        font-size: 50px;
        letter-spacing: .3px;
        line-height: 70px;
        margin: auto 6px;
    }

    .container p.paragraph {
       font-size: 16px;
    }

    .container p.btn {
        font-size: 16px;
        padding: 10px 30px;
        border-radius: 10px;
    }

    .form-controls {
        width: 40%;
    }

    .modal-container {
        width: 100%;
        padding: 9px 20px;
    }
}
