.contaner {
    width: 100%;
    display: flex;
    gap: 10px;
}

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 45%;
    border-radius: 12px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail {
    display: flex;
    flex-direction: column;
}

.avatar {
    display: flex;
    align-items: center;
}

img {
    width: 15%;
    margin-right: 15px;
    clip-path: circle();
}

.key {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    color: #97ADB6;
    margin-bottom: 5px;
}

.value {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 136%;
    display: flex;
    align-items: center;
    color: #455A64;
    margin-bottom: 0px;
}

.name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #3E4958;
    margin-top: 0.5rem;
    margin-bottom: -0.1rem
}

