<div class="contaner">
    <div class="keke-info info">
        <h1>Driver Info</h1>
        <div class="avatar">
            <img *ngIf="!foundKeke.avatar" src="assets/images/no-avatar.webp" alt="">
            <img *ngIf="foundKeke.avatar" [src]="driverAvatar" alt="">
            <div class="detail">
                <span class="name">{{ foundKeke.name }}</span>
                <span class="phone">{{ foundKeke.phone }}</span>
            </div>
        </div>

        <hr>

        <div class="details">
            <div class="detail">
                <span class="key">Address</span>
                <span class="value">{{ foundKeke.address }}</span>
            </div>
        
            <div class="detail">
                <span class="key">LGA</span>
                <span class="value">{{ foundKeke.lga.name }}</span>
            </div>
        </div>

        <hr>

        <div class="details">
            <div class="detail">
                <span class="key">Town</span>
                <span class="value">{{foundKeke.town}}</span>
            </div>
        
            <div class="detail">
                <span class="key">Unit</span>
                <span class="value">{{foundKeke.unit}}</span>
            </div>
        </div>

        <hr>

        <div class="details">
            <div class="detail">
                <span class="key">Organization</span>
                <span class="value">{{foundKeke.union.name}}</span>
            </div>
        
            <div class="detail">
                <span class="key">Ward</span>
                <span class="value">{{foundKeke.ward}}</span>
            </div>
        </div>

        <hr>

        <div class="details">
            <div class="detail">
                <span class="key">Green Number</span>
                <span class="value">{{foundKeke.green_number}}</span>
            </div>
        
            <div class="detail">
                <span class="key">Reg Number</span>
                <span class="value">{{foundKeke.reg_number}}</span>
            </div>
        </div>

        <hr>
        
        <div class="details">
            <div class="detail">
                <span class="key">ID Number</span>
                <span class="value">{{foundKeke.id_number}}</span>
            </div>
        
            <div class="detail">
                <span class="key">DOB</span>
                <span class="value">{{foundKeke.dob}}</span>
            </div>
        </div>
    </div>

    <div class="guarantor_info info">
        <h1>Guarantor Info</h1>
        <div class="avatar">
            <img *ngIf="!foundKeke.avatar" src="assets/images/no-avatar.webp" alt="">
            <img *ngIf="foundKeke.avatar" [src]="guarantorAvatar" alt="">
            <div class="detail">
                <span class="name">{{foundKeke.guarantor.name}}</span>
                <span class="phone">{{foundKeke.guarantor.phone}}</span>
            </div>
        </div>

        <hr />

        <div class="details">
            <div class="detail">
                <span class="key">Address</span>
                <span class="value">{{foundKeke.address}}</span>
            </div>
        
            <!-- <div class="detail">
                <span class="key">LGA</span>
                <span class="value">{{foundKeke.lga}}</span>
            </div> -->
        </div>
        
        <hr>
    </div>
</div>