<div class="nav-bar" id="navbar">
    <div class="logo">
        <img routerLink="/home" src="assets/images/logo.png" alt="">
    </div>
    <div class="nav-items">
        <ul>
            <li><a routerLink="/home"> Home </a></li>
            <li *ngIf="loggedIn || user"><a routerLink="/about">About</a></li>
            <li *ngIf="loggedIn || user"><a routerLink="/members">Members</a></li>
            <li *ngIf="user == null" class="reg"><a routerLink="/login" routerLinkActive="active">Log in</a></li>
            <li *ngIf="loggedIn || user" class="reg"><a (click)="goToReg()">Onboard</a></li>
            <li *ngIf="loggedIn || user" class="reg logout"><a (click)="logout()">Log out</a></li>
        </ul>
    </div>
</div>