<div class="nav-bar">
    <div class="logo">
        <img routerLink="/home" src="assets/images/logo.png" alt="">
    </div>
    <div class="nav-items">
        <ul>
            <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Home </a></li>
            <li routerLinkActive="active">About</li>
            <li class="reg"><a routerLink="/login" routerLinkActive="active">Log in</a></li>
            <!-- <li class="reg"><a routerLink="/register" routerLinkActive="active">Register</a></li> -->
        </ul>
    </div>
</div>